body {
  line-height: 1.8;
  font-size: 16px;
}

#header_catch {
  position: relative;
}
.header_catch--inner {
  position: absolute;
  z-index: 100;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 0 10px;
  height: 56vw;
  max-height: 735px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_catch--main {
  line-height: 1.6;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
  font-size: 48px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.header_catch--sub {
  font-size: 24px;
  line-height: 2;
  letter-spacing: 0.04em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 1280px) {
  .header_catch--inner {
    max-height: 540px;
  }
  .header_catch--main {
    font-size: 38px;
  }
  .header_catch--sub {
    font-size: 22px;
  }
}
@media only screen and (max-width: 969px) {
  .header_catch--main {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .header_catch--sub {
    font-size: 20px;
  }
}
@media screen and (max-width: 730px) {
  .header_catch--inner {
    height: 380px;
  }
  .header_catch--main {
    font-size: 22px;
  }
  .header_catch--sub {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .header_catch--main {
    font-size: 17px;
  }
  .header_catch--sub {
    font-size: 14px;
  }
  .header_catch--sub br.xs-hidden {
    display: none;
  }
}

.pc #global_menu > ul > li.current-menu-item > a {
  color: inherit;
}
#index_contact {
  margin-top: 50px;
}
#index_3box .image:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* headline */
.pb_sub-headline {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  #index_intro .headline,
  #index_blog .headline {
    font-size: 30px;
  }
}

#index_blog .blog_desc {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
}
#index_blog .blog_desc .blog_desc--title {
  font-size: 1.6em;
  margin-bottom: 1.1em;
}
@media only screen and (max-width: 767px) {
  #index_blog .blog_desc .blog_desc--title {
    font-size: 1.2em;
  }
  #index_blog .blog_desc .blog_desc--text {
    text-align-last: left;
  }
  #index_blog .blog_desc .blog_desc--text br {
    display: none;
  }
}

/* works */

#index_works .index_content {
  max-width: 900px;
  box-sizing: border-box;
}

/* sns */
#index_sns {
  width: 100%;
  background: #f1f5f0;
  margin: 100px 0 0 0;
  box-sizing: border-box;
  padding: 80px 20px 90px;
}

#index_sns_inner {
  width: 1100px;
  margin: 0 auto;
  padding: 60px 0;
}

#index_sns .headline {
  line-height: 1.5;
  margin: 0;
  font-weight: 500;
  color: #65989f;
  font-size: 36px;
}

#index_sns .sub_title {
  margin-bottom: 20px;
}

#index_sns #index_sns_content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

#index_sns .sns__text-box {
  width: 46%;
}

#index_sns .sns__movie-box {
  width: 46%;
  padding-left: 8%;
  display: flex;
  align-items: center;
}

#index_sns .iframe-case {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding-top: calc(100% * 0.58);
}
#index_sns iframe {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#index_sns .sns-icon-case {
  margin-top: 25px;
}
#index_sns .sns-icon-case a.facebook:hover i {
  color: #3f63ae;
}
#index_sns .sns-icon-case a.instagram:hover i {
  color: #bc329f;
}
#index_sns .sns-icon-case a.podcast:hover i {
  color: #9933cc;
}
#index_sns .sns-icon-case a.youtube:hover i {
  color: #f40105;
}

#index_sns .sns-icon-case i {
  font-size: 34px;
  margin-right: 35px;
  color: #888888;
  transition-duration: 0.3s;
}

@media only screen and (max-width: 767px) {
  #index_sns #index_sns_content {
    display: block;
    padding: 0 20px;
  }

  #index_sns .headline,
  #index_sns .sub_title {
    text-align: center;
  }
  #index_sns .sns__text-box {
    width: 100%;
  }
  #index_sns .sns-icon-case {
    width: 70%;
    margin: 30px auto 50px;
    display: flex;
    justify-content: space-around;
  }
  #index_sns .sns-icon-case i {
    font-size: 26px;
    margin-right: 0;
  }
  #index_sns .sns__movie-box {
    width: 100%;
    padding: 0;
  }
}

/* button */

.index_content .design_button {
  margin-bottom: 0;
}

/* contact */
#index_contact .contact__desc {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .wpcf7 {
    padding: 30px 20px 10px;
  }
  #index_contact .contact__desc {
    text-align-last: left;
  }
}
