body,
input,
textarea {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.widget2.pb-widget-image > img {
  width: 100%;
}

.index_content .post_row {
  margin-right: -40px;
}

.index_content .post_col {
  padding-right: 45px;
}

.index_content .post_col,
.index_content .post_col-2,
.index_content .post_col-3 {
  margin-bottom: 0;
}

.index_content h4 {
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.index_content h5 {
  color: #65989f;
}

.tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget1,
.tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget2,
.tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget3,
.tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget4 {
  overflow: hidden;
  position: relative;
}

.program {
  width: 100%;
  display: -webkit-box;
  -webkit-box-pack: justify;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.program img {
  width: 42.4%;
}

.program_info {
  width: 69.6%;
  padding-left: 4%;
  display: -webkit-box;
  -webkit-box-pack: justify;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.program .headline {
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 0.6em;
}

.design_button a,
.design_button a:hover {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .program .headline br {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .program {
    display: block;
  }
  .program img {
    width: 100%;
  }
  .index_content p,
  .index_content .post_row {
    font-size: 14px;
    line-height: 2;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget2,
  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget6,
  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget7,
  .tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget1,
  .tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget2,
  .tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget3 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .program {
    width: 100%;
    flex-flow: column nowrap;
    position: relative;
  }

  .program_info {
    width: 100%;
    padding-left: 0;
  }

  .program .headline {
    font-size: 20px;
    padding-top: 5px;
  }

  .program .desc {
    margin-bottom: 1.5em;
  }

  .program .design_button {
    width: 180px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
  }

  .design_button {
    margin: 0 auto;
    text-align: center;
  }

  .design_button a {
    width: 180px;
    height: 45px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 320px) {
  .program .headline,
  .widget3 .program .headline {
    padding-top: 36px;
  }

  .widget2 .program .headline {
    padding-top: 48px;
  }
}

.tcd-pb-row.row1 {
  background-color: #ffffff;
}

.tcd-pb-row.row1 .tcd-pb-col.col1 {
  width: 100%;
}

.tcd-pb-row.row1 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
  padding: 0px 20px 0px 20px;
}

.tcd-pb-row.row1 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
  padding: 0px 20px 0px 20px;
}

@media only screen and (max-width: 767px) {
  .tcd-pb-row.row1 {
    margin-bottom: 0px;
  }

  .tcd-pb-row.row1 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
    margin-bottom: 0;
    padding: 0px 20px 0px 20px;
  }

  .tcd-pb-row.row1 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
    padding: 0;
  }
}

.tcd-pb-row.row2 {
  margin-bottom: -5px;
  background-color: #ffffff;
}

.tcd-pb-row.row2 .tcd-pb-col.col1 {
  width: 100%;
}

.tcd-pb-row.row2 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 18px 0px 18px 0px;
}

@media only screen and (max-width: 767px) {
  .tcd-pb-row.row2 {
    margin-bottom: 0px;
  }

  .tcd-pb-row.row2 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
    border-top: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    padding: 12px 0px 12px 0px;
  }
}

.tcd-pb-row.row3 {
  margin-bottom: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 100px 50px 0px 60px;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 {
  width: 100%;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
  margin-bottom: 70px;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
  margin-bottom: 100px;
  background-color: #f1f5f0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 25px 40px 30px 40px;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget3 {
  margin-bottom: 15px;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget4 {
  margin-bottom: 50px;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget5 {
  margin-bottom: 60px;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget6 {
  background-color: #f1f5f0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 25px 40px 30px 40px;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget7 {
  margin-bottom: 60px;
  background-color: #f1f5f0;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 25px 40px 30px 40px;
}

@media only screen and (max-width: 767px) {
  .tcd-pb-row.row3 {
    margin-bottom: 30px;
    border-bottom: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    padding: 0px 0px 0px 0px;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
    margin-bottom: 5px;
    padding: 30px 20px 0px 20px;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
    margin-bottom: 30px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 24px 30px 24px 30px;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget3 {
    margin-bottom: 15px;
    padding: 0px 20px 0px 20px;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget4 {
    margin-bottom: 30px;
    padding: 0px 20px 0px 20px;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget5 {
    margin-bottom: 30px;
    padding: 0px 20px 0px 20px;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget6 {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 24px 30px 24px 30px;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget7 {
    margin-bottom: 35px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 24px 30px 24px 30px;
  }
}

.tcd-pb-row.row4 {
  background-color: #ffffff;
}

.tcd-pb-row.row4 .tcd-pb-col.col1 {
  width: 100%;
}

.tcd-pb-row.row4 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .tcd-pb-row.row4 {
    margin-bottom: 0px;
  }

  .tcd-pb-row.row4 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
    margin-bottom: 0;
    padding: 0px 20px 0px 20px;
  }

  .tcd-pb-row.row4 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
    padding: 0px 20px 0px 20px;
  }
}

.tcd-pb-row.row5 {
  background-color: #f1f5f0;
  padding: 60px 60px 60px 60px;
  box-sizing: border-box;
}

.tcd-pb-row.row5 .tcd-pb-col.col1 {
  width: 100%;
}

.tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
}

.tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
}

.tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget3 {
  background-color: #ffffff;
  padding: 30px 30px 30px 30px;
}

@media only screen and (max-width: 767px) {
  .tcd-pb-row.row5 {
    margin-bottom: 0px;
    padding: 20px 0px;
  }

  .tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget1 {
    margin-bottom: 20px;
    padding: 20px 20px 30px 20px;
  }

  .tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget2 {
    margin-bottom: 20px;
    padding: 20px 20px 30px;
  }

  .tcd-pb-row.row5 .tcd-pb-col.col1 .tcd-pb-widget.widget3 {
    padding: 20px 20px 30px;
  }
}

.tcd-pb-row.row2 .tcd-pb-col.col1 .tcd-pb-widget.widget1 .pb_catchcopy {
  color: #000000;
  font-size: 24px;
  text-align: center;
}

.tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget3 .pb_catchcopy {
  color: #000000;
  font-size: 24px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .tcd-pb-row.row2 .tcd-pb-col.col1 .tcd-pb-widget.widget1 .pb_catchcopy {
    font-size: 16px;
    text-align: center;
  }

  .tcd-pb-row.row3 .tcd-pb-col.col1 .tcd-pb-widget.widget3 .pb_catchcopy {
    font-size: 16px;
    text-align: left;
  }
}

.tcd-pb-row.row1 .tcd-pb-col.col1 .tcd-pb-widget.widget1 .pb_headline {
  color: #65989f;
  font-size: 36px;
  text-align: center;
}

.tcd-pb-row.row4 .tcd-pb-col.col1 .tcd-pb-widget.widget1 .pb_headline {
  color: #65989f;
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .tcd-pb-row.row1 .tcd-pb-col.col1 .tcd-pb-widget.widget1 .pb_headline,
  .tcd-pb-row.row4 .tcd-pb-col.col1 .tcd-pb-widget.widget1 .pb_headline {
    font-size: 30px;
    text-align: center;
  }
}

.index_content p {
  line-height: 2;
  margin: 0 0 2em 0;
}
